@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: block;
  position: relative;
  box-sizing: border-box;
}

section > div:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
